{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'cajas/cajas.css' %}">
    <script>window.STATIC_URL = "{% static '' %}"</script>
    <script type="application/javascript" src="{% static 'cajas/cajas.js' %}" defer></script>
    <script defer src="{% static 'bloqPestDuplicds.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicar Factura</title>
</head>

<body>
    <div class="main-container">
        <div class="row">
            <div class="col">
                <div class="form-container">
                    <h2>Aplicar Factura</h2>
                    <button class="btn-form" onclick="mostrar_fact()">solicitar informacion</button>
                    <button class="btn-form1" onclick="location.href='{% url 'cajas' %}'">Volver a
                        Cajas</button>
                    <button class="btn-form1" onclick="location.href='{% url 'menu_ppal' %}'">Volver a
                        MENU PPAL
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="element"></div>
    <div class="text-card" id="mensaje"></div>
</body>

</html>