<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'ingresos/ingresos.css' %}">
    <script>window.STATIC_URL = "{% static '' %}"</script>
    <script type="application/javascript" src="{% static 'ingresos/ingresos.js' %}" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REPOSICION DE FONDOS</title>
</head>

<body>
    <div class="main-container">
        <div class="row">
            <div class="col">
                <div class="form-container">
                    <h2>REPOSICION DE FONDOS</h2>
                    <button class="btn-form" onclick="mostrar_reposiciones()">Mostrar reposiciones</button>
                    <button class="btn-form" onclick="mostrar_factAplicds()">mostrar Facts a Reposicion</button>
                    <button class="btn-form1" onclick="location.href='{% url 'ingresos' %}'">Volver a
                        INGRESOS
                    </button>
                    <button class="btn-form1" onclick="location.href='{% url 'menu_ppal' %}'">Volver a
                        MENU PPAL
                    </button>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="element"></div>
    <div class="text-card" id="mensaje"></div>
</body>

</html>